body{
    background-color: black;
    background-image: url(img/CALIGRAFIA.jfif);
    color: white;
    font-family: 'Inter', sans-serif;
    background-size:cover;
    background-position:top center;
    background-repeat:no-repeat;
    transition: 0.6s;
    opacity:1;
}
header{
    border: 1px solid gray;
    box-shadow: 0 5px 10px grey;
    background-color: rgb(0,0,0,0.6);
    width: 50%;
    border-radius: 20px;
    animation: glow 1s infinite alternate;
}
form{
    font-family: 'Inter', sans-serif;
}

@keyframes slideUp {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 10%; 
 opacity: 1;
  }
}
#det{
    display: none;
}
input{
    max-width: 250px;
    background-color: grey;
    color: white;
    padding: .15rem .5rem;
    min-height: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    margin-left: -400px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 160px;
    height: 30px;
}
.fade{
  opacity:0;
}
.page{
  opacity:0;
  transform:translateX(50px);
  transition:0.4s;
  position:absolute;
}

.page.active{
  opacity:1;
  transform:translateX(0);
}
#date{
    width: 142px;
    margin-right: 10px;
}
#sex{
    width: 170px;
    height: 40px;
    margin-right: 320px;
}
input:focus {
  border-bottom: 2px solid gray;
  background-color: rgb(0,0,0,0.6);
  border-radius: 4px 4px 2px 2px;
  border: 1px solid gray;
    animation: glow 1s infinite alternate;
}
form{
    background-image: url(img/image-removebg-preview.png);
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sel{
  background-color: grey;
  color: white;
  padding: .15rem .5rem;
  min-height: 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  margin-left: -80px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
}
.X{
    margin-left: 600px;
    background-color: red;
    animation: glow 1s infinite alternate;
    border: none;
    display: flex;
    padding: 0.75rem 0.75rem;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    height: 20px;
    box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}
section{
  animation: divEntrance 1.5s ease-out forwards;
}
nav{
    animation: slideUpDiv 1s ease-out forwards;

}


@keyframes slideUpDiv {
  0% {
    transform: translateY(100%); /* yabda men ta7t */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* yji placement final */
    opacity: 1;
  }
}
@keyframes divEntrance {
  0% {
    transform: translateY(50px) scale(0.95);
    opacity: 0;
  }
  60% {
    transform: translateY(-10px) scale(1.02);
    opacity: 1;
  }
  80% {
    transform: translateY(5px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
.XX{
    margin-left: 600px;
    background-color: red;
    animation: glow 1s infinite alternate;
    border: none;
    display: flex;
    padding: 0.75rem 0.75rem;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    height: 20px;
    box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
    position: absolute; top: 5%; left: 8%; transform: translateX(-50%);
}
.banner{
    border-radius: 0px 0 30px  30px;
      animation: none;

}
span{
    margin-right: 10px;
}
#suv{
    padding: 5px;
    margin: 10px;
}
input:hover {
  outline: 1px solid gray; 
  background-color: rgb(0,0,0,0.6);
}
.phone{
    display: flex;
    justify-content: start;
}
.la{
    align-items: center;
    display: flex;
    margin-left: 50px;
}
.laa{
    align-items: center;
    display: flex;
}
label{
    margin-top: 30px;
    font-size: 25px;
}
.members{
    display: block;
}
#addd{
    display: none;
}
.logo{
    border-radius: 10px;
}
#mem{
    display: none;
}
nav{
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 30px;
    border: 1.5px solid grey;
    align-items: center;
    margin: 10px;
}
nav button{
    display: block;
    align-items: center;
    text-decoration: none;
    direction: none;
    border-radius: 10px;
    padding: 10px;
    padding-top: 4px;
    height: 50px;
    background-color: grey;
    color: white;
    width: 150px;
    animation: glow 1s infinite alternate;

}

.imgowner{
    border-radius: 60%;
    animation: glow 1s infinite alternate;
    position: absolute; top: 30%; left: 50%; transform: translateX(-50%); width: 50%;
    animation: slideUp 2s ease-out forwards;
}
.imgoper{
    border-radius: 40%;
    animation: glow 1s infinite alternate;
    position: absolute; top: 30%; left: 50%; transform: translateX(-50%); width: 50%;
    animation: slideUp 2s ease-out forwards;
}
.information{
    display: flex;
    justify-content: space-around;
}
.dett{
    display: none;
}
.det{
    display: block;
}
.mm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

button:focus,
button:active {
  opacity: 0.85;
  box-shadow: none;
}

button svg {
  width: 1.25rem;
  height: 1.25rem;
}
.person{
    position: relative;
}
.add button{
    animation: glow 1s infinite alternate;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: gray;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    width: 120px;
    height: 50px;
    margin: 10px;
    box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}
.add{
    display: flex; 
    justify-content: end;
    margin: 20px;
}
.info{
    margin-top: 100px;
}


@media (max-width: 768px){
    header{
        width: 90%;
    }
    .info{
        margin-top: 40px;
    }
    .logo{
        width: 60px;
    }
    h1{
        font-size: 15px;
    }
    .mem{
        width: 30px;
    }
    .sec{
        width: 30px;
    }
    nav button{
        padding: 10px;
        width: 40px;
        height: 28px;
        padding-top: 5px;
    }
    nav{
        gap: 1px;
        justify-content: space-evenly;
    }
    .det{
        display: none;
    }
    .dett{
        display: block;
        width: 15px;
    }
    .add button{
        width: 120px;
        height: 30px;
    }
    .add{
        margin: 1px;
    }
    form{
    background-image: url(img/image-removebg-preview.png);
      background-size: cover;
    background-position: center;
        background-repeat: no-repeat;
}
.sel{
    max-width: 150px;
  background-color: grey;
  color: white;
  padding: .15rem .5rem;
  min-height: 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  margin-left: -80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.X{
    margin-left: 300px;
    background-color: red;
    animation: glow 1s infinite alternate;
    border: none;
    display: flex;
    padding: 0.75rem 0.75rem;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    height: 20px;
    box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}
.XX{

    margin-left: 300px;
    background-color: red;
    animation: glow 1s infinite alternate;
    border: none;
    display: flex;
    padding: 0.75rem 0.75rem;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
    width: auto;
    height: auto;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    height: 20px;
    box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}
    #suv{
        padding: 2px;
        margin: 10px;
    }
    input:hover {
        outline: 1px solid gray; 
        background-color: rgb(0,0,0,0.6);
    }
    .phone{
        display: flex;
        justify-content: start;
    }
    .la{
        margin-left: 40px;
        align-items: center;
        display: flex;
    }
    .laa{
        margin-left: 0px;
        align-items: center;
        display: flex;
    }
    label{
        margin-top: 30px;
    }
    input{
        max-width: 150px;
        background-color: grey;
        color: white;
        padding: .15rem .15rem;
        min-height: 20px;
        border-radius: 4px;
        outline: none;
        border: none;
        line-height: 1.15;
        box-shadow: 0px 10px 20px -18px;
        margin-left: -80px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 140px;
        height: 20px;
    }
    #date{
        width: 142px;
    }
    #sex{
        width: 155px;
        height: 30px;
        margin-left: 60px;
    }
    input:focus {
    border-bottom: 2px solid gray;
    background-color: rgb(0,0,0,0.6);
    border-radius: 4px 4px 2px 2px;
    border: 1px solid gray;
        animation: glow 1s infinite alternate;
    }
}





@keyframes glow {
  from {
    box-shadow: 0 0 5px gray, 0 0 10px gray;
  }
  to {
    box-shadow: 0 0 20px gray, 0 0 40px gray;
  }
}



    #loading {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: #333;
      z-index: 9999;
      animation: noe;
    }

    .spinner {
      border: 8px solid #f3f3f3;
      border-top: 8px solid grey;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }



@keyframes moveBox{
  0%{
    transform: translateX(0);
    background:red;
  }

  50%{
    transform: translateX(200px);
    background:blue;
  }

  100%{
    transform: translateX(0);
    background:red;
  }
}
